---
import Navigation from "../components/navigation.astro";
const currentLang =  '';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="flex">
			<h1 class="text-4xl">index {currentLang === '' ? 'de' : ''}</h1>
			<a href="/en/">go to en index.astro</a>
			<Navigation currentLang={currentLang} />
		</div>
	</body>
</html>

