---
// const API_URL = 'https://cms.baukasten.matthiashacksteiner.net';
// const { lang, slug } = Astro.params;
// const pagesResponse = await fetch(API_URL + '/' + lang + '/' + slug + '.json');
// if (!pagesResponse) throw Astro.redirect('/404');
// const origin = Astro.url.origin

import { join } from 'path';
import { promises as fs } from 'fs';
const { readFile } = fs;
const { lang, slug } = Astro.params;
const JSON_PATH = join(process.cwd(), 'src', 'json', `${lang}`, slug + '.json');
const jsonData = await readFile(JSON_PATH, 'utf-8');
const pagesResponse = JSON.parse(jsonData);
if (!pagesResponse) throw Astro.redirect('/404');

const origin = Astro.url.origin

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="flex ">
			<a href={origin}>home</a>
			{slug}
		</div>
	</body>
</html>

<style lang="css">
	.flex {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

</style>