---
const API_URL = 'https://cms.baukasten.matthiashacksteiner.net';
const { lang, slug } = Astro.params;
const pagesResponse = await fetch(API_URL + '/' + lang + '/' + slug + '.json');
if (!pagesResponse) throw Astro.redirect('/404');
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="flex flex-col">
			<a href=""></a>
			{slug}
		</div>
	</body>
</html>
