---
import Navigation from "../../components/navigation.astro";
const { lang } = Astro.params;
const currentLang = lang;
const origin = Astro.url.origin
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>

		<div class="flex">
			<a href={origin}>home</a>
			<h1 class="text-4xl">index {currentLang}</h1>
			<h3>Multilanguages - works</h3>
			<Navigation currentLang={currentLang} />
		</div>

	</body>
</html>

<style lang="css">
	nav, .flex {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

</style>