---
const { lang } = Astro.params;
import { getData } from '@lib/api.js';

const currentLang = lang;
const data = await getData(`/${currentLang}/home.json`);
const global = await getData(`/${currentLang}/global.json`);
const pageTitle = global.siteTitle;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{pageTitle}
	</body>
</html>
